.docCardListItem {
  margin-bottom: 2rem;
}

.docCardListItem > * {
  height: 100%;
}

.docCardListItem :global(.card) {
  min-height: 125px;
  padding: 1.5rem;
}

.docCardListItem :global(.card__body) {
  font-size: 1rem;
}